/* .note {
    max-width: 100px;
    margin: 5px 10px;
  } */
  div.container {
     display: -webkit-flex;
     display: flex;
     -webkit-flex-direction: row;
     flex-direction: row;
     background-color: lightgray;
  }
  div.column {
     display: -webkit-flex;
     display: flex;
     -webkit-flex-direction: column;
     flex-direction: column;
     background-color: lightgray;
  }
